    <style>
    #colum_left{ 
        width:40%;
        float:left;
        background-color:red;
        }
    #colum_right{ 
        width:40%;
        float:right;
        background-color:green;
        }
    div {
        padding:15px;
    }
    .important {
        clear:both;
        }
    
    </style>
